# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/* 
*.svn*

#ptlib
ptlib/autom4te.cache 
ptlib/a.out 
ptlib/aclocal.m4
ptlib/lib*

#opal
opal/**/*.o
opal/**/*.so
opal/lib*

#t38modem
t38modem/obj_linux_x86_64*

**/config.log
**/config.status
**/config.err
